<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
<!--             <PatternLayout pattern="%d %-5p [%t] %C{2} (%F:%L) - %m%n"/> -->
<PatternLayout pattern="%d{HH:mm:ss} %-5p %C{1} - %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
<!--         <Logger name="com.opensymphony.xwork2" level="info"/> -->
        <Logger name="org.apache.struts2.convention" level="info"/>
        <Logger name="com.ebsl" level="debug"/>
       <Logger name="org.hibernate" level="info"/>
       <!-- 
        <Logger name="org.hibernate.search" level="debug"/>
          <Logger name="org.apache.lucene" level="debug"/> -->
 <!-- <Logger name="org.springframework.beans.factory" level="debug"/>  -->
      <!--    <Logger name="org.springframework" level="debug"/>  -->
<!--         <Logger name="org.apache.shiro" level="info"/> -->
        <Root level="warn">
            <AppenderRef ref="STDOUT"/>
        </Root>
    </Loggers>
</Configuration>