velocity.log
velocity.log.1
target/
jacoco-0.8.0/
aspectjrt.jar
aspectjtools.jar
aspectjweaver.jar
org.aspectj.matcher.jar
spring-instrument-4.3.8.RELEASE.jar
!.mvn/wrapper/maven-wrapper.jar
application-longbridge.properties
jacoco-0.7.9
*.log
velocity.log*
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.vscode

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
nbdist/
.nb-gradle/

##Application logs
.log*
logs/
application.log
velocity.log
.DS_Store
application-local.properties
*.jpage
/target/
/.idea/
